[Unit]
Description=Weight Recording Bathroom Scale
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u BathroomScale.py
WorkingDirectory=/home/pi/Desktop/projects/autoScale/HX711_BathroomScale
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
